$primary-bg-color: #05060f;
$second-bg-color: #0b0d1f;
$behind-text-bg: #14183a;
$primary-white-color: #d8ecf8;
$secondary-light-blue-color: #98c0ef;
$orange-color: #F17625;

$borders:(
    1: 1px solid #98c0ef,
    2: 1px solid #10132c,
);
