
.ide-box {
    width: 600px;
    height: 400px; 
    background-color: #2b2f31;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    animation: fadeIn 1s ease-in-out;
    .ide-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #26292b;
        padding: 10px 15px;
        color: #d8dee9;
        .ide-buttons {
            display: flex;
            gap: 10px;

            div {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #bf616a;
                background-color: #e5484d;

                &:nth-child(2) {
                    background-color: #ebcb8b;
                    background-color: #f7ce00;
                }

                &:nth-child(3) {
                    background-color: #a3be8c;
                    background-color: #6aa72a;
                }
            }
        }

        .ide-title {
            font-size: 14px;
        }
    }

    .ide-content {
        padding: 0 15px;
        color: #d8dee9;
        font-size: 10px;
        line-height: 1.6;
        background-color: #1a1d1e;
        width: 600px;
        height: 400px; 
        code {
            white-space: pre;
            display: block;
            text-align: left;
        }
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    .ide-box {
      font-size: 12px;
    }
    .ide-header .ide-title {
      font-size: 12px;
    }
    .ide-content {
      font-size: 8px;
      padding: 0 10px;
    }
  }
  
  @media (max-width: 480px) {
    .ide-box {
        // width: 100%;
        .ide-header{
            .ide-title {
                font-size: 10px;
            }
            .ide-buttons {
                display: flex;
                gap: 5px;
                div {
                    width: 8px;
                    height: 8px;
                }
            }
        }
        .ide-content {
            font-size: 8px;
        }
    }
  }

.dark-theme {
    --slate1: #151718;
    --slate2: #1a1d1e;
    --slate3: #202425;
    --slate4: #26292b;
    --slate5: #2b2f31;
    --slate6: #313538;
    --slate7: #3a3f42;
    --slate8: #4c5155;
    --slate9: #697177;
    --slate10: #787f85;
    --slate11: #9ba1a6;
    --slate12: #ecedee;
}